@import 'styles/variables';

#submissions {
	display: grid;
	gap: $lg-spacing;
	grid-template-columns: 1fr 1fr 1fr;

	@media (max-width: $medium-responsive) {
		grid-template-columns: 1fr 1fr;
	}

	@media (max-width: $small-responsive) {
		grid-template-columns: 1fr;
	}
}
