$medium-responsive: 1100px;
$small-responsive: 650px;
$smallest-responsive: 450px;

$xxl-spacing: 2rem;
$xl-spacing: 1.5rem;
$lg-spacing: 1rem;
$md-spacing: 0.75rem;
$sm-spacing: 0.5rem;
$xs-spacing: 0.25rem;
$xxs-spacing: 0.1rem;
