@import 'styles/variables';

#page-content {
	background-color: var(--primary-theme-color);
	margin: 0 auto;
	width: max(70%, $medium-responsive - 40px);

	@media (max-width: $medium-responsive) {
		width: 100%;
	}

	& > div {
		padding: 2.5% 5%;
	}
}
